
body {
font-family: 'Rubik', sans-serif;
background-color: #B5CEC2;
}

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }

  .headerNav {
    background-color: lightgreen;
}
  .listgroup {
    background-color: lightgray;
  }

  .btn-xl {
    padding: 100px 140px;
    font-size: 100px;
    border-radius: 25px;
}